<!DOCTYPE html>
<html>
  <head>
    <title>PathFinder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trails</h1>
    <% trails.forEach(trail => { %>
      <li><%= trail.name %></li>
    <% }) %>
  </body>
</html>
