body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
  margin-top: .4em;
}

.user-btn {
  margin-top: .5em;
  margin-bottom: .5em;
}

.search-form {
  margin-top: 1em;
}

a {
  color: black;
}

#signup, #login {
  cursor: pointer;
}

div.signup, div.login {
  display:none;
}

body {
  background-color: #E7EBF1;
}

.boxy {
  margin: 1em;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 60px;
  font-size: 60px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 46px;
}

h3, button {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 46px;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    }

.bg-soft-white {
  background-color: #ffffffD9;
}
